h1,
h2 {
  font-family: "PT Mono", monospace;
}

h1 {
  font-weight: bold;
  text-align: left;
  padding: 20px;
  border: 1px solid rgb(75, 121, 141);
  border-radius: 5px;
}

h2 {
  font: bold;
  font-size: 40px;
  line-height: 30px;
  margin-bottom: 0;
}
ul {
  font-family: "Roboto", sans-serif;
  margin: 10px 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}
li:first-letter {
  text-transform: capitalize;
}
.weatherApp-wrapper {
  max-width: 700px;
  margin: 30px auto;
}
.weatherApp {
  padding: 20px;
  background-image: linear-gradient(
    to top,
    rgb(124, 169, 188) 0%,
    rgb(201, 207, 209) 100%
  );
  border: 1px solid rgb(75, 121, 141);
  border-radius: 5px;
}
.weather-icon img {
  margin: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-family: "PT Mono", monospace;
  font-size: 30px;
  line-height: 1;
  font-weight: bold;
}
.units {
  position: relative;
  top: -10px;
}

.card {
  background-color: rgb(228, 225, 222);
}
